@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.table.table-live-views {
  border: 1px solid #6E8CA1;
}

.table.table-live-views th {
  background: #4a5e6c;
  color: #f5f5f5;
  border: 1px solid #6E8CA1;
  font-weight: 100;
  padding: 10px 5px;
  position: relative;
}

.table.table-live-views th.info {
  background: #6E8CA1;
}

.table.table-live-views .filter {
  position: absolute;
  right: 5px;
  top: 30%;
  color: #f5f5f5;
  z-index: 3;
}

.table.table-live-views .filter-wrapper {
  position: absolute;
  top: 100%;
  z-index: 4;
  min-width: 250px;
}

.table.table-live-views .filter-wrapper.filter-active {
  display: block;
}

.table.table-live-views th:last-of-type .filter-wrapper {
  left: 0 !important;
}

.table.table-live-views tfoot {
  border: 1px solid #6E8CA1;
}

.live-views-badge {
  padding: 10px;
  color: #f5f5f5;
  background: #e82c0c;
  margin-bottom: 5px;
  width: auto;
  position: relative;
}

.live-views-badge .live-views-close {
  border-radius: 50%;
  display: block;
  background: #f5f5f5;
  border: 1px solid #ccc;
  padding: 0 6px;
  position: absolute;
  right: 10px;
  top: 20%;
  font-weight: bold;
  text-decoration: none;
}

#admin-panel {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#admin-panel.nav-close {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#admin-panel.nav-close .nb-sidebar {
  left: -250px;
}

.nb-sidebar {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0px;
  width: 250px;
  height: 100%;
  padding: 0 !important;
  overflow-y: auto;
  background: #2A3F54;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nb-sidebar-brand {
  background: #2A3F54;
  height: 120px;
  position: relative;
}

.nb-sidebar-brand > .wrapper {
  position: absolute;
  top: 5px;
  left: 5px;
}

.nb-sidebar-brand > .wrapper a {
  font-size: 1.2em;
  padding: 5px;
  color: #999;
  text-decoration: none;
  line-height: 1.5em;
}

.nb-sidebar-brand > .wrapper a img.circle {
  width: 50px;
  border-radius: 200px;
}

.nb-sidebar-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nb-sidebar-nav > li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nb-sidebar-nav > li:last-of-type {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nb-sidebar-nav li {
  line-height: 40px;
}

.nb-sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #f5f5f5;
  background: #2A3F54;
  padding: 0 10px;
}

.nb-sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.nb-sidebar-nav li.active > a {
  background: -webkit-gradient(linear, left top, left bottom, from(#334556), to(#2C4257)), #2A3F54;
  background: linear-gradient(#334556, #2C4257), #2A3F54;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
          box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
  border-top: 0;
  border-bottom: 1px solid #111;
  border-right: 5px solid #1ABB9C;
  outline: 0;
}

.nb-sidebar-nav li .nb-dropdown-menu {
  position: relative;
  height: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nb-sidebar-nav li .nb-dropdown-menu > li > a {
  padding: 0 0 0 40px;
  border-right: 5px solid #1ABB9C;
}

.nb-sidebar-nav li .nb-dropdown-menu > li > a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.nb-sidebar-nav li .nb-dropdown-menu > li.sub-menu:after {
  border-left: 1px solid #425668;
  bottom: 0;
  left: 8px;
  position: absolute;
  top: 0;
  z-index: 1;
  content: "";
}

.nb-sidebar-nav li .nb-dropdown-menu > li.sub-menu:before {
  background: #425668;
  content: "";
  height: 8px;
  width: 8px;
  left: 5px;
  bottom: auto;
  right: auto;
  margin-top: 15px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
}

.nb-sidebar-nav li .nb-dropdown-menu > li.separator {
  display: block;
  border: 1px solid #425668;
  width: 100%;
}

.nb-sidebar-nav li .nb-dropdown-menu > li .nav-disabled {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2);
  background: #2A3F54;
  padding: 0 0 0 40px;
  border-right: 5px solid #1ABB9C;
}

